fastapi
uvicorn[standard]
sqlalchemy>=2.0
alembic
asyncmy
pydantic-settings
python-dotenv
python-jose[cryptography]
PyJWT
argon2-cffi
email-validator
httpx
pytest
pytest-asyncio
langchain
langchain-openai
redis
elasticsearch[async]>=8.0.0,<9.0.0
azure-storage-blob
python-multipart
